.editorMain {
    width: 98%;
    background-color: rgba(212, 196, 196, 0.356);
    margin-left: 10px;
    border-radius: 10px;
}

.editorMainHead {
width: 83%;
height: 10%;
display: flex;
justify-content: space-around;


}
.editorMainHeadUnit {

display: flex;
justify-content: space-evenly;


}

.editorMainHeadManual {
width: 30%;
height: 10%;
display: flex;
justify-content: center;



}

.editorMainCenter {
display: flex;
flex-direction: row;


}
.editorMainCenter1 {
    margin-left: 15px;


}
